<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MicFx - A modular enterprise framework built on ASP.NET Core 8" />
    <meta name="author" content="MicFx Framework" />
    <title>@ViewData["Title"] - MicFx</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    @RenderBody()
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 